<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Bee Eye{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		{% block stylesheets %}
			<link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
			<link href="{{ asset('bootcards/src/css/bootcards-desktop.scss') }}" media="screen, projection" rel="stylesheet" type="text/css" />
			<link href="{{ asset('stylesheets/toastr.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
			<link href="{{ asset('flaticon/flaticon.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
			<link href="{{ asset('stylesheets/screen.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
		{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('beeEye.png') }}" />
		{% block javascripts_before %}{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ path('drone_home_homepage') }}">Bee Eye</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							{# {{ 'layout.logged_in_as'|trans({ '%username%': app.user.username|capitalize }, 'FOSUserBundle') }} #}
							<li><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username|capitalize }}</a></li>
							<li><a href="{{ path('drone_map_homepage') }}">Cartographie</a></li>
							<li><a href="{{ path('drone_user_dashboard') }}">{{ 'user.dashboard.dashboard'|trans }}</a></li>
						{% else %}
							<li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
							<li><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
						{% endif %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li id="container-loading">
							<svg width="75px" height="50px" viewBox="0 0 187.3 93.7" preserveAspectRatio="xMidYMid meet">
								<path style="-webkit-filter:url(#f2)" stroke="#ededed" id="outline" fill="none" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
				M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1
				c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z" />
								<path id="outline-bg" opacity="0.05" fill="none" stroke="#ededed" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
				M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1
				c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z" />
							</svg>
						</li>
						<li id="weather"  class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="weather-war"></span> Météo <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><i id="weather-main"></i> <span class="weather-main"></span></li>
								<li><i id="weather-temp"></i> <span class="weather-temp"></span><i class="wi wi-celsius"></i></li>
								<li><i id="weather-hum"></i> <span class="weather-hum"></span>% d'humidité</li>
								<li><i class="wi wi-strong-wind"></i><i id="weather-wind"></i> <span class="weather-wind"></span> km/h</li>
								<li><i id="weather-wind-direction"></i> <span class="weather-wind-dir"></span></li>
								<li><i class="wi wi-sunrise"></i> <span class="weather-sunrise"></span></li>
								<li><i class="wi wi-sunset"></i> <span class="weather-sunset"></span></li>
							</ul>
						</li>
						{# <li><span class="weather"></span></li> #}
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							<li>
								<a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
							</li>
						{% endif %}
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		
		<div id="content" class="containeur-fluid">
			{% block body %}{% endblock %}
			<footer>
				{% block footer %}{% endblock %}
			</footer>
		</div>
		{% block javascripts %}
			<script type="text/javascript" charset="utf-8" src="{{ asset('javascript/jquery.min.js') }}"></script>
            <script type="text/javascript" charset="utf-8" src="{{ asset('javascript/jquery-ui/jquery-ui.min.js') }}"></script>
			<script type="text/javascript" charset="utf-8" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
			<script type="text/javascript" charset="utf-8" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
			<script type="text/javascript" charset="utf-8" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
			<script type="text/javascript" charset="utf-8" src="{{ asset('bootcards/src/js/bootcards.js') }}"></script>
			<script type="text/javascript" charset="utf-8" src="{{ asset('javascript/toastr.js') }}"></script>
			<script type="text/javascript" charset="utf-8" src="{{ asset('javascript/greensock/minified/TweenMax.min.js') }}"></script>
			<script type="text/javascript" charset="utf-8" src="{{ asset('javascript/greensock/minified/plugins/DrawSVGPlugin.min.js') }}"></script>
			<script type="text/javascript" charset="utf-8" src="{{ asset('javascript/jGeneral.js') }}"></script>

			<script type="text/javascript" charset="utf-8">
				$(function() {
					{% for flashMessage in app.session.flashbag.get('info') %}
						toastr.info("{{ flashMessage }}");
					{% endfor %}
					{% for flashMessage in app.session.flashbag.get('success') %}
						toastr.success("{{ flashMessage }}");
					{% endfor %}
				});
			</script>
		{% endblock %}
	</body>
</html>