<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Bee Eye{% endblock %}</title>
		<link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="{{ asset('stylesheets/screen.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		{% block stylesheets %}{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		{% block javascripts_before %}{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-default navbar-collapse">
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				{{ 'layout.logged_in_as'|trans({ '%username%': app.user.username|capitalize }, 'FOSUserBundle') }} |
				<a href="{{ path('drone_home_homepage') }}" title="Accueil">Accueil</a>
				<a href="{{ path('fos_user_profile_show') }}">Profil</a>
				<a href="{{ path('fos_user_security_logout') }}">
					{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
				</a>
			{% else %}
				<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
			{% endif %}
		</nav>

		{% for type, messages in app.session.flashbag.all() %}
			{% for message in messages %}
				<div class="flash-{{ type }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
		
		<div id="content">
			{% block body %}{% endblock %}
		</div>
		{% block javascripts %}
			<script src="{{ asset('javascript/jquery.min.js') }}" type="text/javascript" charset="utf-8"></script>
			<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
			<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
			<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}" type="text/javascript" charset="utf-8"></script>
		{% endblock %}
	</body>
</html>
