{% extends 'DroneMapBundle::layout_drone.html.twig' %}

{% block title_drone %}
    {{ parent() }} Drone {{ entity }}
{% endblock %}

{% block body_drone %}
	<h1>Drone {{ entity }}
		{% if entity.activated %}
			<span class="glyphicon glyphicon-ok"></span>
		{% else %}
			<span class="glyphicon glyphicon-ban-circle"></span>
		{% endif %}
	</h1>

	<div class="row">
		{% if is_granted('ROLE_USER') and entity in app.user.drones %}
			<div class="col-md-8">
				<h2>QR Code</h2>
				<p>
					{{ 'map.drone.qrcode'|trans }} <br>
					<p class="qrcode">
						<img class="qrcode" src="{{ qrcode_data_uri(url('drone_manage', {id: entity.id}), extension='png') }}" />
					</p>
				</p>
			</div>
			<div class="col-md-4">
				<h2>Modifier votre drone</h2>
				{{ form(edit_form) }}

				<h2>Supprimer le drone {{ entity }}</h2>
				{{ form(delete_form) }}
			</div>
			<a href="{{ path('drone') }}" class="btn btn-info retour clear">
				Retour à vos drones
			</a>
		{% else %}
			Ce drone appartient à {{ entity.user.firstname }} {{ entity.user.lastname }}. Si vous êtes en possession de ce drone, merci de le retourner à son possesseur. <br>
			Son adresse : {{ entity.user.address }} {{ entity.user.city }} {{ entity.user.zipcode }} {{ entity.user.country }}. Nous vous en sommes très reconnaissant.
			<hr>
			Procédure à suivre : 
			<ul>
				<li>Vous avez pris ce drone en flagrant délit d'espionnage ?</li>
				<li>Vous avez trouvé ce drone dans un espace public ?</li>
				<li>Vous avez trouvé ce drone dans votre propriété ?</li>
				<li>Vous avez trouvé ce drone dans une propriété privée ?</li>
			</ul>
		{% endif %}
	</div>
{% endblock %}
