{% extends '::base.html.twig' %}
{% block body %}
 	<section class="home-container">
		<h1 class="bee"><span class="bee">Bee</span> Eye</h1>
	    {# CARROUSEL #}
	    <div id="carousel-generic" class="carousel slide" data-ride="carousel">
		    <!-- Indicators -->
		    {#
		    <ol class="carousel-indicators">
			    <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-generic" data-slide-to="2"></li>
		    </ol>
		    #}

		    <!-- Wrapper for slides -->
		    <div class="carousel-inner" role="listbox">
			    <div class="item active">
				    <img src="{{ asset('carousel/agriculture_0.jpg') }}">
			    </div>
			    <div class="item">
				    <img src="{{ asset('carousel/drone_scan.jpg') }}">
			    </div>
			    <div class="item">
				    <img src="{{ asset('carousel/field.png') }}">
			    </div>
		    </div>

		    <!-- Controls -->
		    {#
		    <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    <span class="sr-only">Précédent</span>
		    </a>
		    <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    <span class="sr-only">Suivant</span>
		    </a>
		    #}
	    </div>
	    {# CARROUSEL #}
	    <div class="row panel-row">
		    <div class="panel panel-default col-md-3">
			    <div class="panel-heading clearfix">
				    <h3 class="panel-title">Un drone autonome pour l'agriculture</h3>
			    </div>
			    <div class="panel-body">
					    <img class="right img-thumbnail img-responsive" src="{{ asset('image/home/banner_agriculture.png') }}" alt="Agriculture">
					    <p>
						    <span class="bee">Bee</span> Eye est votre plateforme qui s'adapte à vos besoins. Être agriculteur, c'est prendre en compte une multitude de paramètres et devoir faire attention à la moindre information. <span class="bee">Bee</span> Eye vous propose de vous simplifier vos contrôles sur vos champs. En rendant autonome des tâches qui nécessitent du temps précieux.
					    </p>
			    </div>
		    </div>
		    <div class="panel panel-default col-md-3">
			    <div class="panel-heading clearfix">
				    <h3 class="panel-title">La surveillance par les airs</h3>
			    </div>
			    <div class="panel-body">
				    <img class="left img-thumbnail img-responsive" src="{{ asset('image/home/apples.jpg') }}" alt="Pommier">
				    <p>
					    <span class="bee">Bee</span> Eye est votre plateforme qui s'adapte à vos besoins. Être agriculteur, c'est prendre en compte une multitude de paramètres et devoir faire attention à la moindre information. <span class="bee">Bee</span> Eye vous propose de vous simplifier vos contrôles sur vos champs. En rendant autonome des tâches qui nécessitent du temps précieux.
				    </p>
			    </div>
		    </div>
		    <div class="panel panel-default col-md-3">
			    <div class="panel-heading clearfix">
				    <h3 class="panel-title">Un service inégalé</h3>
			    </div>
			    <div class="panel-body">
				    <img class="right img-thumbnail img-responsive" src="{{ asset('image/home/agriculture-71343_640.jpg') }}" alt="Pommier">
				    <p>
					    <span class="bee">Bee</span> Eye est votre plateforme qui s'adapte à vos besoins. Être agriculteur, c'est prendre en compte une multitude de paramètres et devoir faire attention à la moindre information. <span class="bee">Bee</span> Eye vous propose de vous simplifier vos contrôles sur vos champs. En rendant autonome des tâches qui nécessitent du temps précieux.
				    </p>
			    </div>
		    </div>
		    <div class="panel panel-default col-md-3">
			    <div class="panel-heading clearfix">
				    <h3 class="panel-title">Éco-responsable</h3>
			    </div>
			    <div class="panel-body">
				    <img class="left img-thumbnail img-responsive" src="{{ asset('image/home/ecologie-environnement.jpg') }}" alt="Pommier">
				    <p>
					    <span class="bee">Bee</span> Eye . <span class="bee">Bee</span> Eye vous propose de vous simplifier vos contrôles sur vos champs. En rendant autonome des tâches qui nécessitent du temps précieux.
				    </p>
			    </div>
		    </div>
	    </div>
		<div class="clear"></div>
 	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" charset="utf-8">
		$(function() {
			$('#carousel-generic').carousel({
				interval: 5000
			});
		});
	</script>
{% endblock %}