{% extends 'DroneMapBundle::layout.html.twig' %}

{% block body_map %}
	<div class="map">
		<div>
			<h1>Carte du monde pour {{ user.username|capitalize }}</h1>
			<br>
		</div>
		<div class="map-container">
			<div id='map'></div>
		</div>
		<div class="map-command">
			<input id="search_query" name="search_query" type="text" value="{{ user.address }} {{ user.city }} {{ user.zipcode }} {{ user.country }}">
			<input id="search" name="search" type="button" class="btn" value="Rechercher">
			<hr>
			<a href="#" id="rectangleChoice" class="btn btn-default" role="button">Détourer votre terrain</a>
			<a href="#" id="interestPoint" title="Point de passage" class="btn btn-info">Point de passage</a>
			{% if user.drones|length == 0 %}
				<a href="#" id="putDrone" title="Placer votre drone" class="btn btn-info">Placer votre drone</a>
			{% endif %}
			<a href="#" id="droneCentered" title="Centrer sur votre drone" class="btn btn-info">Centrer sur votre drone</a>
			<hr>
			<label for="selectAction">Sélectionnez votre action : </label>
			<select id="selectAction" name="selectAction">
				<option value="photo">Prise de photo</option> 
				<option value="video" selected>Prise d'une vidéo</option>
				<option value="sound" selected>Prise de son</option>
				<option value="nothing">Simple passage</option>
			</select>
			<hr>
			<div>
				Vos différents drones : 
				<ul>
					{% for drone in user.drones %}
					<li>
						{{ drone.product }} :
						<ul>
							<li>Numéro de série : {{ drone.serialNumber }}</li>
							<li>Latitude : {{ drone.latitude }}</li>
							<li>Longitude : {{ drone.longitude }}</li>
						</ul>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="submit-field clear">
			<br>
			<hr>
			<a href="#" id="start" title="Démarrer l'observation" class="btn btn-block btn-info">Démarrer l'observation</a>
			<br>
			<input id='submitField' class='btn btn-info btn-large' type="submit" name="Enregistrer vos champs" value="Enregistrer vos champs">
			<input id='submitInterestPoint' class='btn btn-info btn-large' type="submit" name="Enregistrer vos points d'intérêt" value="Enregistrer vos points d'intérêt">
			<input id='deleteFields' type="submit" class='btn btn-danger btn-large' name="deleteFields" value="Supprimer vos champs">
			<input id='deleteInterestPoints' type="submit" class='btn btn-danger btn-large' name="deleteInterestPoints" value="Supprimer vos points d'intérêt">
			<input id='deleteDrones' type="submit" class='btn btn-danger btn-large' name="deleteDrones" value="Supprimer vos drones">
			{% if user.drones|length == 0 %}
				<input id='submitDroneLocation' class='btn btn-info btn-large' type="submit" name="Enregistrer la localisation de votre drone" value="Enregistrer la localisation de votre drone">
			{% endif %}
			<hr>
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
					<span class="sr-only"></span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts_map %}
<script src="{{ asset('javascript/MapScript.js') }}" type="text/javascript" charset="utf-8"></script>
<script>
	$(function(){
		var filePath = [];
		var droneEntities = [];
		var fieldEntities = [];
		var interestPointEntities = [];
		filePath['quadcopter'] = "{{ asset('image/map/quadcopter.png') }}";
		{% autoescape false %}
			var queryAddress = "{{ user.address }} {{ user.city }} {{ user.zipcode }} {{ user.country }}";
		{% endautoescape %}

		{% for drone in user.drones %}
			droneEntities.push(
				{
					latitude: {{ drone.latitude }},
					longitude: {{ drone.longitude }},
				}
			);
		{% endfor %}

		{% for field in user.fields %}
		    fieldEntities.push(
				[
					{% for point in field.points %}
						{
							latitude: {{ point.latitude }},
							longitude: {{ point.longitude }},
						},
					{% endfor %}
				]
			);
		{% endfor %}

		{% for point in user.points %}
			interestPointEntities.push(
				{	
					location:
					{
						latitude: {{ point.latitude }},
						longitude: {{ point.longitude }},
					},
					action: '{{ point.action }}',
				}
			);
		{% endfor %}

		mapAction(filePath, droneEntities, fieldEntities, interestPointEntities, queryAddress);

	});
</script>
{% endblock %}
