{% extends 'DroneUserBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body_user %}
	<div class="user_show">
		<div class="profile-picture">
			<img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="{{ user.username }}" />
		</div>
		<h1>{{ user.firstname|capitalize }} {{ user.lastname|capitalize }}</h1>

		<div class="profile-access">
			<a class="btn btn-warning btn-block" href="{{ path('fos_user_profile_edit') }}" title="Éditer votre profil">
				Éditer votre profil
			</a>
			<a class="btn btn-warning btn-block" href="{{ path('drone_map_homepage') }}" title="Accéder à la page de cartographie">
				Accéder à la page de cartographie
			</a>
		</div>

		<div class="profile-about">
			<h3>À propos</h3>
			<p>
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				{{ user.username|capitalize }}
			</p>
			<p>
				<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
				{{ user.email }}
			</p>
			<p>
				<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
				{{ user.city }}, {{ user.getCountryName }}
			</p>
		</div>
		
		{% if user.drones|length > 0 %}
		<div class="profile-drone clear">
			<span class="profile-drone">Vos drones</span>
			<table class="table table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th>Numéro de série</th>
						<th>Latitude</th>
						<th>Longitude</th>
					</tr>
				</thead>
				<tbody>
					{% for drone in user.drones %}
					<tr class="warning">
						<td>{{ drone.serialNumber }}</td>
						<td>{{ drone.latitude|number_format(2) }}</td>
						<td>{{ drone.longitude|number_format(2) }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endif %}
	</div>
{% endblock body_user %}
